.spinner_container {
  text-align: center;
  margin-top: 6rem;
}

.ant-spin-dot-item {
  background-color: var(--color-primary);
}

.ant-spin-text {
  color: var(--color-primary);
}

.container_recipes_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
